
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Academic Result</h2>
<hr />

@using (Html.BeginForm("DisplayResult", "Result"))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-md-3">
            <label for="StudentId">Student ID</label>
            <input type="text" name="StudentId" class="form-control" id="StudentId" placeholder="Example: xx-x-xx-xxx-xxx" required>
        </div>
        <div class="form-group col-md-3">
            <label for="ExamTerm">Exam Term</label>
            <input type="text" name="ExamTerm" class="form-control" id="ExamTerm" placeholder="Example: xxx" required>
        </div>
        <div class="form-group col-md-3">
            <label for="Semester">Semester</label>
            <select name="Semester" id="Semester" class="form-control" required>
                <option disabled selected>-Select Semester-</option>
                <option value="1st">1st</option>
                <option value="2nd">2nd</option>
                <option value="3rd">3rd</option>
                <option value="4th">4th</option>
                <option value="5th">5th</option>
                <option value="6th">6th</option>
                <option value="7th">7th</option>
                <option value="8th">8th</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <button type="submit" name="submit" class="btn btn-secondary" style="margin-top:24px;">View Result</button>
        </div>
    </div>

}

